* {
	box-sizing: border-box;
}

#content {
	white-space: pre-wrap;
	margin-bottom: 20px;
	max-width: 900px;
}

a {
}

a.new-page-link {
	color: #d44;
}

h1 {}

html {
	font-family: "Lucida Sans", "Lucida Sans Unicode";
	font-size: 11pt;
}

button {
	font-size: 11pt;	
	font-family: "Lucida Sans", "Lucida Sans Unicode";
	padding: 2px 10px;
}

button:hover {
	
}

input {
	background: inherit;
	color: inherit;
}

input#edit-title  {
	width: 800px;
	margin-bottom: 5px;
	padding-left: 2px;
	font-family: "Lucida Sans", "Lucida Sans Unicode";
	font-size: 11pt;
	border: 1px solid #a9a9a9;
}

textarea {
	width: 800px;
	height:600px;
	background: inherit;
	color: inherit;
	font-family: "Lucida Console";
	font-size: 11pt;
	border: 1px solid #a9a9a9;
}

ul {
	margin: 0;
}